* {
  box-sizing: border-box;
}

header {
  max-width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

body {
  background: url(../images/concrete_seamless.png);
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Navigation bar styling */

.topnav {
  overflow: hidden;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  margin: 0;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 960px;
  margin: 0 auto;
}

.active {
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding: 20px;
  font-size: 22px;
  float: left;
}

a {
  color: #777777;
  width: 70px;
}

a:link {
  text-decoration: none;
  position: relative;
}

.topnav-right {
  float: right;
  padding-right: 5px;
  font-size: 12px;
  padding-top: 20px;
}

.nav-about {
  margin-right: 10px;
  border-right: 1px solid #dddddd;
  padding-right: 10px;
}

.nav-portfolio {
  margin-right: 10px;
  border-right: 1px solid #dddddd;
  padding-right: 10px;
}

/* Index page styling */

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  border-bottom: 2px solid #dddddd;
  margin-bottom: 20px;
}

.main-bio {
  border: 1px solid #dddddd;
  display: block;
  background-color: white;
  margin: 20px 0px 10px 0px;
  padding: 0px 15px 0px 15px;
  height: 400px;
  max-width: 960px;
  margin: 0 auto;
}

#bio-img {
  float: left;
  position: relative;
  margin-right: 20px;
  width: 200px;
  height: 270px;
}

p {
  color: #777777;
  line-height: 25px;
  display: inline;
}

/* Contact me page styling */

.contact {
  border: 1px solid #dddddd;
  display: block;
  background-color: white;
  margin: 20px 0px 10px 0px;
  padding: 0px 15px 0px 15px;
  max-width: 960px;
  margin: 0 auto;
}

.form {
  color: #777777;
  padding-top: 5px;
  padding-bottom: 5px;
}

button {
  background-color: #4aaaa5;
  color: white;
  border: none;
  padding: 5px 15px 5px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#InputName {
  width: 100%;
  height: 20px;
}

#InputEmail {
  width: 100%;
  height: 20px;
}

#InputMessage {
  width: 100%;
  height: 120px;
  resize: vertical;
  overflow: auto;
}

/* Portfolio page styling*/

#pics-container {
  border: 1px solid #dddddd;
  display: block;
  background-color: white;
  margin: 20px 0px 10px 0px;
  padding: 0px 15px 0px 15px;
  height: 800px;
  max-width: 960px;
  margin: 0 auto;
}

.hangman {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  margin: 20px 10px 20px 0px;
}

.rpg {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  margin: 20px 10px 20px 10px;
}

.trivia {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  margin: 20px 10px 20px 10px;
}

.widget {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  margin: 20px 10px 20px 10px;
}

.rock {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  margin: 20px 10px 20px 10px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4aaaa5;
  width: 200px;
}

/* Footer styling */

footer {
  border-top: 2px solid #4aaaa5;
  background-color: #666666;
  color: #cccccc;
  font-size: 7px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 980px ) {
  .active {
    float: left;
    margin: 0;
  }
  .topnav-right {
    width: 100%;
    background-color: white;
    text-align: right;
    float: none;
  }
  .main-bio {
    width: 75%;
    float: left;
    margin-left: 10px;
  }
  .contact {
    width: 75%;
    float: left;
    margin-left: 10px;
  }
  #pics-container {
    width: 75%;
    float: left;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .active {
    float: left;
    margin: 0;
  }
  .topnav-right {
    width: 100%;
    background-color: white;
    text-align: right;
    float: none;
    margin-top: 20px;
  }
  .main-bio {
    width: 95%;
    float: left;
    margin-left: 10px;
  }
  .contact {
    width: 95%;
    float: left;
    margin-left: 10px;
  }
  #pics-container {
    width: 95%;
    float: left;
    margin-left: 10px;
  }
}

@media screen and (max-width: 640px) {
  .active {
    width: 100%;
    text-align: center;
    float: none;
    margin-bottom: 20px;
  }
  .topnav-right {
    width: 100%;
    background-color: white;
    text-align: center;
    float: none;
  }
  .main-bio {
    width: 95%;
    float: left;
    margin-left: 10px;
  }
  .contact {
    width: 95%;
    float: left;
    margin-left: 10px;
  }
  .hangman {
    width: 100%;
    float: left;
  }
  .rpg {
    width: 100%;
    float: left;
  }
  .trivia {
    width: 100%;
    float: left;
  }
  .widget {
    width: 100%;
    float: left;
  }
  .rock {
    width: 100%;
    float: left;
  }
}

